@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #151d49;
  --color-primary-light: #395191;

  --color-white-50: rgba(255, 255, 255, 0.5);

  --font-primary: "Inter", "sans-serif";
}

section {
  width: 100%;
  padding: 8rem 1.5rem 0 1.5rem;
}
